<nav class="sidebar-admin">
    <div class="sidebar-header">
        <a [routerLink]="['/']">
            <h3>Nf</h3>
            <strong>NF</strong>
        </a>
    </div>

    <ul class="list-unstyled components">
        <li routerLinkActive="active">
            <a href="#" [routerLink]="['/movimentos']" class="">
                <fa-icon [icon]="faAmbulance"></fa-icon><span class="title">&nbsp; Movimentos</span>
            </a>
        </li>

        <li routerLinkActive="active">
            <a href="#" class="">
                <fa-icon [icon]="faTags"></fa-icon><span class="title">&nbsp; Integrações</span>
            </a>
        </li>

        <li routerLinkActive="active">
            <a href="#" class="">
                <fa-icon [icon]="faTags"></fa-icon><span class="title">&nbsp; Nfse</span>
            </a>
        </li>

        <li routerLinkActive="active">
            <a href="#" class="">
                <fa-icon [icon]="faTags"></fa-icon><span class="title">&nbsp; Nfe</span>
            </a>
        </li>
    </ul>
</nav>