<nav class="navbar navbar-default">
    <div class="container-fluid">

        <div class="dropdown navbar-header" dropdown>
            <fa-icon [icon]="faBars" (click)="toggleSidebar()"></fa-icon>

            <div class="container-menu-profile">
                <a dropdownToggle data-toggle="dropdown" href="#" role="button" class="user-menu">
                    Usuário logado
                    <fa-icon [icon]="faSortDown"></fa-icon>
                </a>

                <div class="navbar-menu-profile">
                    <ul *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="menu1">
                        <li class="nav-item dropdown">
                            <a class="dropdown-item" href="#" [routerLink]="['/movimentos']">Configurações</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="dropdown-item" href="#" (click)="logout($event)">Sair</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</nav>