pagina de login
<!-- <div class="login-page">
    <div class="row justify-content-md-center">
        <div class="col-md-4">
            <h1>Login</h1>
            <form role="form" [formGroup]="formLogin" class="form-base form-login"
                (ngSubmit)="onLoggedin(formLogin.value)">
                <div class="form-content">
                    <mat-form-field class="full-width inputs-login">
                        <input matInput placeholder="Documento" class="form-control input-lg"
                            formControlName="documentNumber" maxlength="100">
                        <mat-error *ngIf="formLogin.get('documentNumber').hasError('required')">
                            Documento é <strong>obrigatório</strong>
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field class="full-width inputs-login">
                        <input type="password" matInput placeholder="Password" class="form-control input-lg"
                            formControlName="password" id="password">
                        <mat-error *ngIf="formLogin.get('password').hasError('required')">
                            Password é <strong>obrigatório</strong>
                        </mat-error>
                    </mat-form-field>
                </div>
                <button type="submit" class="btn rounded-btn" [disabled]="formLogin.invalid">Logar</button>
            </form>
        </div>
    </div>
</div> -->