<div class="container-fluid">
    <h1 class="mt-4" appTitle="Simple Sidebar"></h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed id orci non ante tempor rutrum. Proin vitae nibh a
        justo mattis ornare et ut risus. Quisque ut sodales felis. Nulla laoreet enim at fermentum scelerisque. Integer
        elementum tellus id lectus vulputate tristique. Aenean sit amet venenatis nibh, scelerisque euismod ipsum. Donec
        in risus semper, volutpat leo sed, mattis justo. Aliquam quam nibh, efficitur sit amet enim non, lacinia porta
        enim.
    </p>
    <app-dashboard></app-dashboard>
</div>